@media (max-width: 1640px) {
    .header-wrapers {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .flex {
        margin-bottom: 30px;
    }

}
@media (max-width:1100px) {
    .container1{
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
}
@media (max-width: 1150px) {
    .container2 {
        width: 300px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;
       
    }
    .image2-wraper 
    
    {   width: 300px;
        -ms-flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: wrap;}
}

@media (max-width:800px) {
    .flex-container {
      
    flex-wrap: wrap;
    }
}


@media (max-width:558px) {
    .image-wraper  {
        /* flex-wrap: wrap; */
        -webkit-box-pack: center;
        -ms-flex-pack: center;
         justify-content: center;
    }
    .images {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}


@media (max-width:480px) {
    .footer-container {
        display: block;
    }
}