/* base classes */
.flex {display: flex;}
.header-logo {height: 147px;width: 213px;position: fixed;top:0;left:0;
}
.header-wrapers {
    /* max-width: 1548px; */
    width: 100%;
    position:relative;
    background-size:cover ;
    background-image: url(../img/img41.jpg);
    background-repeat: no-repeat;
    height: 1080px;
    margin: 0;
    padding:0;

}

.navigation{
    
    position: absolute;
    top:41px;
    right: 138px;
}
.nav-li {
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    font-weight: 400;margin-left: 50px;}
.nav-a {color:#FFAA00;font-size:15px;letter-spacing: 2px;}
.text-wraper{
  
    width: 255px;
    height: 68px;
    background-color:#FFAA00;
    position:absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 10%;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    font-size:25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    
}
.text-wraper1 h2{
     width: 700px;
     display: flex; 
     justify-content: center; }
.order-now-h3 {
    color:#A80E0E;
    margin-top:22px;

}
.fa-arrow-right {color:#A80E0E;margin-top: 21px;margin-left: 15px;}

.container1 {max-width: 1080px;
            width: 100%;
            height: 461px;
            margin-left: 100px;
            margin-bottom:100px;
            margin-top: 200px;
           
        }
.the-best {margin-left: 150px;
           margin-bottom: 50px ;
           top:70px;
           color:white;
           position:absolute;}
        
.the-best:hover {
  
	color:#A80E0E;
	transform: translate(-99%,-1%) rotate(1050deg);
	transition: all 0.60s linear 0.25s; 
    background-color:bisque; 
    
}


.container2 {max-width: 1080px;
            width: 100%;
            margin-left: 235px;
            height: 461px;
            display: flex;
            justify-content: space-between;
            
}

.text-wraper1  {
    position: relative;
	width: 150px;
    margin-top: 108px;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    font-size:35px;
    margin-left: 400px;


}
.text-wraper1 img{box-shadow: 0 0 20px brown;}

.image-wraper{ display: flex;
               justify-content:space-around;
               margin-top: 204px;
               }
.image-wraper img {
    width:444px;
    
}
.image-wraper h2
{
       font-size:16px;
       font-family: "BPG Nino Mtavruli Bold", sans-serif;
       height: 22px;
       display: flex;
       justify-content: space-between;
       width: 500px;
       margin-top: 20px;
       line-height:24px;
       color: grey;
      
}
.image2-wraper {display: flex;margin-top: 207px;margin-left:235px;}
.image2-wraper h2{font-size: 16px;
                font-family: "BPG Nino Mtavruli Bold", sans-serif;
                height:22px;
                display: flex;
                justify-content: space-between;
                width: 500px;
                margin-top: 20px;
                line-height: 24px;
                color: gray;
           

}
.image2-wraper img{width:444px;margin-right: 58px;}
.flex-container {display:flex;background-color: burlywood;margin: 200px 0 20px 0;}
.flex-container img {width: 250px;margin-left:50px ;}

.container3 {width: 100%;display: flex;justify-content: space-between;background-color: burlywood;}
.container3 img{width: 300px;}
.box {color:white;font-size: 25px;margin-left: 45%;margin-top: 50px;
}
.box::after {content:' ';
    background-color: white;
    height: 6px;
    width:50px;
    display: inline-block;
    }
.box::before {content:' ';
        background-color: white;
        height: 6px;
        width:50px;
        display: inline-block;
        
        }

.container4 {
    /* max-width: 1080px; */
    width: 100%;
    background-size:cover ; 
    background-image: url(../img/img28.jpg);
    background-repeat: no-repeat;
    height: 1080px;
    margin: 0;
    padding:0;
 
}
.footer-container {
    /* max-width:1080px; */
    width: 100%;
    height: 395px;
    display: flex;
    background-color:black;
    justify-content:space-around;
    
 
}
.footer-container p {color:#FFAA00 ;font-size: 20px;margin-top: 100px;margin-bottom: 50px;font-family: "BPG Nino Mtavruli Bold", sans-serif;}
.footer-a {
    color:aliceblue;
    font-family: "BPG Nino Mtavruli Bold", sans-serif;
    font-size: 15px; 
    line-height: 25px;
    }

.icon {font-size:15px;font-weight: 600;}
.fab{color:aliceblue;margin-right: 15px;margin-top: 50px;}
.mailtohtml {font-family:'Roboto', sans-serif}

.fa-envelope,
.fa-phone-alt,
.fa-map-marker-alt {margin-right: 15px;color:aliceblue;margin-bottom: 10px;}
.footer-right1-block a{color:aliceblue;font-size: 15px;font-family:"BPG Nino Mtavruli Bold", sans-serif ;line-height: 10px;}
/* Full-width input fields */

input[type=text], input[type=password] {
  
    padding: 15px;
    margin: 15px 0 22px 0;
    display: inline-block;
    border: none;
    background:#FFAA00;

  }
.registerbtn   {  padding: 13px;
                   color:grey; }


